<div class="container" style='padding:20px;background-color:rgb(233, 229, 229)'>
    
    <h3 style="text-align:center;letter-spacing:1px;text-transform:uppercase"><%= heading %></h3> 
     
    <br>  
<% let index=1;%>

        <ul>
          <br>
            <li style="list-style-type: none;">   
                 <div class="table table-responsive">
                    <table class="table">
                        
                        <tbody>
                          <% snapshot.docs.forEach( doc =>{ %>
                          <tr>
                            
                            <td><%= index %></td>
                                <% index=index+1%>
                            <td><%=doc.data().question %></td>
                            <td><a type="button" class="btn btn-success"id="<%=doc.id %>" href='/screen/edit/<%=doc.id %>/<%= heading %>' name="<%= heading %>" onclick=rem(id)>Edit</a></td>
                            <td><a type="button" class="btn btn-danger"id="<%=doc.id %>" href='/screen/list/<%=doc.id %>/<%= heading %>' name="<%= heading %>" onclick=rem(id)>Delete</a></td>
                          </tr>
                          <% }) %>
                        </tbody>
                      </table>
                  </div>
              

            </li>
           
        </ul> 
   
    <a class="btn btn-primary" type="button" href="/screen/admin">Back</a>
   


</div>
<script>
    function rem(id) {
        let id = document.getElementById(id);
        id.remove();
    }
</script>
    